@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');*/
/*@import url('@/assets/fonts/ruberoid/stylesheet.css');*/
/*@import "normalize-scss/sass/normalize/import-now";*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e;
}
