header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 90%;
  height: 100px;
  background-color: #1e1e1e;
  z-index: 10;

  #ProfileImg {
    width: 50px;
    height: 50px;
    background-color: #747474;
    border-radius: 50%;
    cursor: pointer;
  }

  #HamburgerMenu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -10%;
    width: 35%;

    .route {
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      font-family: 'DM Sans', sans-serif;
      text-decoration: none;
      outline: none;
    }

    .disabledRoute {
      pointer-events: none;
    }

    span {
      display: flex;
    }
  }

  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60px;

    img {
      width: 32.5px;
      cursor: pointer;
    }

    p {
      margin-left: 15px;
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      font-family: 'Montserrat', sans-serif;
    }
  }
}

@media(max-width: 480px) {
  header {
    height: 50px;

    #ProfileImg {
      display: none;
    }

    #HamburgerMenu {
      display: block;
      width: 25px;
      cursor: pointer;
    }

    nav {
      margin-left: 0;
      width: 75%;

      .route {
        font-size: 0.75em;
      }

      span {
        width: 40%;
      }
    }

    span {
      width: 25px;
      img {
        width: 25px;
      }

      p {
        display: none;
      }
    }
  }
}

@media(max-width: 380px) {
  header {
    #HamburgerMenu {
      width: 22.5px;
    }

    nav {
      .route {
        font-size: 0.625em;
      }
    }

    span {
      width: 22.5px;

      img {
        width: 22.5px;
      }
    }
  }
}
@media(max-width: 360px) {
  header {
    #HamburgerMenu {
      width: 20px;
    }

    span {
      width: 20px;

      img {
        width: 20px;
      }
    }
  }
}

@media(max-width: 330px) {
  header {
    #HamburgerMenu {
      width: 17.5px;
    }

    span {
      width: 17.5px;

      img {
        width: 17.5px;
      }
    }
  }
}

@media(min-width: 2560px) and (min-height: 1440px) {
  header {
    height: 130px;

    #ProfileImg {
      width: 50px;
      height: 50px;
    }

    nav {
      .route {
        font-size: 26px;
      }
    }

    span {
      width: 50px;
      height: 50px;

      img {
        width: 42.5px;
        height: 42.5px;
      }

      p {
        font-size: 28px;
      }
    }
  }
}