.route {
    @apply text-[#ffffff] text-[1.25rem] font-semibold no-underline outline-none;
    font-family: 'DM Sans', sans-serif;
}

.disabledRoute {
  pointer-events: none;
}

@media(max-width: 480px) {
  .route {
    @apply text-[0.75rem];
  }
}

@media(max-width: 380px) {
  .route {
    @apply text-[0.625rem];
  }
}

//@media(max-width: 330px) {
//  header {
//    #HamburgerMenu {
//      width: 17.5px;
//    }
//
//    span {
//      width: 17.5px;
//
//      img {
//        width: 17.5px;
//      }
//    }
//  }
//}

@media(min-width: 2560px) and (min-height: 1440px) {
  header {
    height: 130px;

    #ProfileImg {
      width: 50px;
      height: 50px;
    }

    nav {
      .route {
        font-size: 26px;
      }
    }

    span {
      width: 50px;
      height: 50px;

      img {
        width: 42.5px;
        height: 42.5px;
      }

      p {
        font-size: 28px;
      }
    }
  }
}