p {
  font-family: 'DM Sans', sans-serif;
}

.shoppingCartItem:first-child {
  margin-top: 0;
}

#shoppingCartItemsWrapper::-webkit-scrollbar {
  width: 10px;
}

#shoppingCartItemsWrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

#shoppingCartItemsWrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

input {
  font-family: 'DM Sans', sans-serif;
}

::placeholder {
  color: #bababa;
  font-size: 0.875em;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
}

// faqRoute

p {
  font-family: 'SF Pro Text', sans-serif;
}

button {
  font-family: 'DM Sans', sans-serif;
}

@media(max-width: 480px) {
  #ModalShoppingCart {
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;

    p {
      display: block;
    }

    #shoppingCartItemsWrapper {
      margin-top: 10px;
      height: 280px;
    }

    #ShoppingCart_Bottom {
      height: auto;
      min-height: 100px;

      #OrderIsPayed {
        padding: 15px 26% 0 26%;
        width: 48%;
      }
    }
  }
}

@media(max-width: 380px) {
  #ModalShoppingCart {
    #ShoppingCart_Bottom {
      #OrderIsPayed {
        padding: 15px 22.5% 0 22.5%;
        width: 55%;
      }
    }
  }
}

@media(max-width: 360px) {
  #ModalShoppingCart {
    #ShoppingCart_Bottom {
      #FAQApprove {
        p {
          font-size: 14px;
        }
      }

      #OrderIsPayed {
        padding: 15px 17.5% 0 17.5%;
        width: 65%;
      }
    }
  }
}