p {
  font-family: 'DM Sans', sans-serif;
}

.shoppingCartItem:first-child {
  margin-top: 0;
}

#shoppingCartItemsWrapper::-webkit-scrollbar {
  width: 10px;
}

#shoppingCartItemsWrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

#shoppingCartItemsWrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

input {
  font-family: 'DM Sans', sans-serif;
}

::placeholder {
  color: #bababa;
  font-size: 0.875em;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
}

// faqRoute

p {
  font-family: 'SF Pro Text', sans-serif;
}

button {
  font-family: 'DM Sans', sans-serif;
}