footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;

  #BlurContacts {
    position: relative;
    padding: 30px 35% 0 35%;
    width: 30%;

    h2 {
      position: absolute;
      width: 30%;
      color: #9afbe7;;
      font-size: 3em;
      font-weight: 700;
      font-family: 'DM Sans', sans-serif;
      text-align: center;
      z-index: 9;
    }

    p {
      width: 100%;
      filter: blur(8px);
      color: rgba(154, 251, 231, 0.5);
      font-size: 3em;
      font-weight: 700;
      font-family: 'DM Sans', sans-serif;
      text-align: center;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 37.5% 0 32.5%;
    width: 35%;

    .footerRoute {
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      font-family: 'DM Sans', sans-serif;
      text-decoration: none;
      outline: none;
    }
    .disabledRoute {
      pointer-events: none;
    }
  }

  #BottomInfo {
    display: flex;
    justify-content: space-between;
    margin: 80px 30% 0 30%;
    width: 42.5%;

    #BottomInfo_Contacts {
      width: 45%;
      height: 80px;

      h3 {
        color: #9afbe7;
        font-size: 26px;
        font-weight: 700;
        font-family: 'DM Sans', sans-serif;
      }

      span {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        width: 95%;

        p {
          color: #ffffff;
          font-size: 22px;
          font-weight: 700;
          font-family: 'DM Sans', sans-serif;
        }
      }
      span:last-child {
        margin-top: 7.5px;
      }
    }
    #BottomInfo_SocialNetworks {
      width: 45%;
      height: 80px;

      h3 {
        color: #9afbe7;
        font-size: 26px;
        font-weight: 700;
        font-family: 'DM Sans', sans-serif;
      }

      span {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 65%;
      }
      p {
        margin-top: 15px;
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
        font-family: 'DM Sans', sans-serif;
      }

      a {
        width: 25px;
        height: 25px;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

@media(max-width: 480px) {
  footer {
    height: 250px;

    #BlurContacts {
      padding: 20px 0 0 0;
      width: 100%;
      height: 35px;
      text-align: center;

      h2 {
        width: 100%;
        font-size: 1.5em;
      }

      p {
        font-size: 1.5em;
      }
    }

    nav {
      margin: 25px 7.5% 0 7.5%;
      width: 85%;
      .footerRoute {
        font-size: 16px;
      }
    }

    #BottomInfo {
      margin: 30px 7.5% 0 7.5%;
      width: 85%;
      #BottomInfo_Contacts {
        width: 42.5%;
        h3 {
          font-size: 16px;
        }
        span {
          p {
            font-size: 12px;
          }
        }
        span {
          margin-top: 15px;
        }
      }
      #BottomInfo_SocialNetworks {
        width: 50%;
        h3 {
          font-size: 16px;
        }
        span {
          margin-top: 15px;
          width: 65%;
          height: 15px;
          p {
            font-size: 12px;
          }
          a {
            width: 15px;
            height: 15px;
            img {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 380px) {
  footer {
    height: 200px;

    #BlurContacts {
      height: 30px;

      h2 {
        font-size: 1.625em;
      }

      p {
        font-size: 1.625em;
      }
    }

    nav {
      margin: 15px 7.5% 0 7.5%;

      .footerRoute {
        font-size: 14px;
      }
    }

    #BottomInfo {
      margin: 20px 10% 0 7.5%;
      width: 85%;
      #BottomInfo_Contacts {
        width: 45%;
        h3 {
          font-size: 14px;
        }
        span {
          width: 85%;
          p {
            font-size: 10px;
          }
        }
        span {
          margin-top: 12.5px;
        }
      }
      #BottomInfo_SocialNetworks {
        width: 42.5%;
        h3 {
          font-size: 14px;
        }
        span {
          margin-top: 5px;
          width: 70%;
          height: 15px;
          p {
            font-size: 10px;
          }
          a {
            width: 12.5px;
            height: 12.5px;
            img {
              width: 12.5px;
              height: 12.5px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 360px) {
  footer {
    #BlurContacts {
      margin-top: 20px;

      h2 {
        font-size: 1.625em;
      }

      p {
        font-size: 1.625em;
      }
    }
  }
}

@media(min-width: 1960px) and (min-height: 1080px) {
  footer {
    #BlurContacts {
      width: auto;
    }

    #BottomInfo {
      #BottomInfo_Contacts {
        span {
          width: 75%;
        }
      }
    }
  }
}

@media(min-width: 2560px) and (min-height: 1440px) {
  footer {
    #BottomInfo {
      #BottomInfo_Contacts {
        span {
          width: 60%;
        }
      }
    }
  }
}