p {
  font-family: 'DM Sans', sans-serif;
}

button {
  font-family: 'DM Sans', sans-serif;
}

@media(max-width: 480px) {
  p {
    @apply block;
  }

  .hamburgerMenuRoute {
    @apply py-[20px] w-full h-[60px] border-y-[0.5px] border-[#4b4b4b] outline-none;

    .hamburgerMenuRoute_Text {
      @apply text-[#ffffff] text-[1.125rem] font-bold no-underline;
      font-family: 'DM Sans', sans-serif;
    }
  }
}