#ModalProfileWindow {
  position: absolute;
  top: 25px;
  left: 5%;
  padding: 20px 0;
  width: 260px;
  height: calc(260px + 44px);
  background-color: #1e1e1e;
  border: 2px solid #4b4b4b;
  border-radius: 20px;

  #ModalProfileWindow_Close {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  #ModalProfileWindow_UserBrieflyInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 15px;
    width: 100%;
    height: calc(65px + 15px);
    border: 1px solid #4b4b4b;
    border-width: 0 0 1px 0;

    img {
      width: 60px;
      height: 60px;
    }

    span {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 0;
      width: 100%;
      height: 35px;

      p {
        margin-top: -2.5px;
        margin-left: 10px;
        width: 100%;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        font-family: 'DM Sans', sans-serif;
      }

      p:last-child {
        margin-top: 2.5px;
        font-size: 14px;
      }
    }
  }

  #ModalProfileWindow_Email {
    padding: 12.5px 20px;
    width: 100%;
    height: calc(50px + 25px);
    border: 1px solid #4b4b4b;
    border-width: 1px 0 1px 0;

    p {
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      font-family: 'DM Sans', sans-serif;
    }

    p:last-child {
      font-size: 16px;
    }
  }

  button {
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: 1px solid #4b4b4b;
    border-width: 1px 0 1px 0;
    color: #fa3e3e;
    font-size: 18px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    outline: none;
  }

  #ModalProfileWindow_Balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;

    p {
      margin-left: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      font-family: 'DM Sans', sans-serif;
    }

    span {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      p {
        font-size: 24px;
      }

      img {
        margin-left: 5px;
        width: 25px;
        height: 25px;
        cursor: default;
      }
    }

    p:last-child {
      margin-left: 20px;
      font-size: 20px;
    }
  }
}

@media(max-width: 480px) {
  #ModalProfileWindow {
    top: 0;
    left: 0;
    padding: 30px 40px;
    width: 100%;
    height: 100vh;
    border-radius: 0;

    #ModalProfileWindow_HamburgerClose {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    p {
      display: block;
    }

    #ModalProfileWindow_UserBrieflyInfo {
      padding: 15px 0;
      width: 100%;
      border-width: 0 0 2px 0;

      span {
        height: auto;

        p {
          font-size: 18px;
        }

        p:last-child {
          font-size: 16px;
        }
      }
    }

    #ModalProfileWindow_Email {
      padding: 10px 0 10px 0;
      width: 100%;
      border-width: 0 0 0.5px 0;
    }

    .hamburgerMenuRoute {
      padding: 20px 0 20px 0;
      width: 100%;
      height: 60px;
      border: 0.5px solid #4b4b4b;
      border-width: 0.5px 0 0.5px 0;
      outline: none;

      .hamburgerMenuRoute_Text {
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        font-family: 'DM Sans', sans-serif;
        text-decoration: none;
      }
    }

    button {
      width: 100%;
      padding: 10px 0 10px 0;
    }

    #ModalProfileWindow_Balance {
      padding: 0;
      width: 100%;
      border: 0.5px solid #4b4b4b;
      border-width: 0.5px 0 0 0 ;
    }
  }
}